@import "../../styles/styles.scss";

.hero {
  height: calc(100vh - #{$lineHeight * 2});
  position: relative;
  .hero-text-wrapper {
    height: 100%;
    .hero-text-top {
      height: 0;
    }
  }
  .hero-background {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
    img {
      max-width: 100%;
      min-height: 100%;
      @include breakpoint(xs) {
        max-width: none;
        max-height: 100%;
      }
    }
  }
}